packages: [
  "atom-beautify"
  "autoclose-html"
  "busy-signal"
  "emmet"
  "emmet-snippets-compatibility"
  "highlight-selected"
  "intentions"
  "linter"
  "linter-jshint"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "modx-revolution"
  "on-the-rocks"
  "package-sync"
  "pigments"
  "project-manager"
  "todo-show"
]
