[
  {
    title: "Landcare Nt 2015"
    group: "Sites"
    paths: [
      "/Users/jasoncarney/Sites/landcare-nt-2015"
    ]
  }
  {
    title: "Dashing"
    group: "Dash Media"
    paths: [
      "/Users/jasoncarney/Sites/dashing"
    ]
  }
  {
    title: "Bakewell Primary 2017"
    group: "Sites"
    paths: [
      "/Users/jasoncarney/Sites/bakewell-primary-2017"
    ]
  }
  {
    title: "Land Development Corp 2016"
    group: "Sites"
    paths: [
      "/Users/jasoncarney/Sites/land-development-corp-2016"
    ]
  }
  {
    title: "Cobourg Coastal Camp 2016"
    group: "Sites"
    paths: [
      "/Users/jasoncarney/Sites/cobourg-coastal-camp-2016"
    ]
  }
]
