# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.source.css':
  # Quality of life
  'Position - Absolute':
   'prefix': 'posa'
   'body': 'position: absolute;'
  'Position - Relative':
    'prefix': 'posr'
    'body': 'position: relative;'
  'Position - Static':
    'prefix': 'poss'
    'body': 'position: static;'
  'Font Style - Italic':
    'prefix': 'fsi'
    'body': 'font-style: italic;'
  'Font Style - Normal':
    'prefix': 'fsn'
    'body': 'font-style: normal;'
  'Font Family':
    'prefix': 'ff'
    'body': 'font-family: ${1:\'icons\'};'
  'Text Align - Center':
    'prefix': 'tac'
    'body': 'text-align: ${1:center};'
  'Text Decoration - None':
    'prefix': 'tdn'
    'body': 'text-decoration: ${1:none};'
  'Text Transform - Uppercase':
    'prefix': 'ttu'
    'body': 'text-transform: ${1:uppercase};'
  'Margin Top':
    'prefix': 'mt'
    'body': 'margin-top: ${1:0};'
  'Margin Right':
    'prefix': 'mr'
    'body': 'margin-right: ${1:0};'
  'Margin Bottom':
    'prefix': 'mb'
    'body': 'margin-bottom: ${1:0};'
  'Margin Left':
    'prefix': 'ml'
    'body': 'margin-left: ${1:0};'
  'Padding Top':
    'prefix': 'pt'
    'body': 'padding-top: ${1:0};'
  'Padding Right':
    'prefix': 'pr'
    'body': 'padding-right: ${1:0};'
  'Padding Bottom':
    'prefix': 'pb'
    'body': 'padding-bottom: ${1:0};'
  'Padding Left':
    'prefix': 'pl'
    'body': 'padding-left: ${1:0};'
  'Width':
    'prefix': 'w'
    'body': 'width: ${1:100%};'
  'Height':
    'prefix': 'h'
    'body': 'height: ${1:100%};'
  'Top':
    'prefix': 't'
    'body': 'top: ${1:0};'
  'Right':
    'prefix': 'r'
    'body': 'right: ${1:0};'
  'Bottom':
    'prefix': 'b'
    'body': 'bottom: ${1:0};'
  'Left':
    'prefix': 'l'
    'body': 'left: ${1:0};'
  'Display: Block':
    'prefix': 'dis'
    'body': 'display: ${1:block};'


'.source.css.scss':
  # General box comment
  'Comment block':
    'prefix': 'cb'
    'body': '''
    //
    // ${1:Label}
    //
    '''
  # MQ snippets
  'Tweakpoints':
    'prefix': 'Tweakpoints'
    'body': '''
    $tweakpoints: (
    	'${1:name}': '(min-width: $2px) and (max-width: $3px)'
    );
    '''
  'Small MQ':
    'prefix': 'Small MQ'
    'body': '''
    //
    // SMALL
    //
    @include breakpoint("small") {
    	$1
    }
    '''
  'Small Only MQ':
    'prefix': 'Small Only MQ'
    'body': '''
    //
    // SMALL ONLY
    //
    @include breakpoint("small_only") {
    	$1
    }
    '''
  'Small JS MQ':
    'prefix': 'Small JS MQ'
    'body': '''
    //
    // SMALL JS
    //
    @include breakpoint("small", true) {
    	$1
    }
    '''
  'Medium MQ':
    'prefix': 'Medium MQ'
    'body': '''
    //
    // MEDIUM
    //
    @include breakpoint("medium") {
    	$1
    }
    '''
  'Medium Only MQ':
    'prefix': 'Medium Only MQ'
    'body': '''
    //
    // MEDIUM ONLY
    //
    @include breakpoint("medium_only") {
    	$1
    }
    '''
  'Medium JS MQ':
    'prefix': 'Medium JS MQ'
    'body': '''
    //
    // MEDIUM JS
    //
    @include breakpoint("medium", true) {
    	$1
    }
    '''
  'Large MQ':
    'prefix': 'Large MQ'
    'body': '''
    //
    // LARGE
    //
    @include breakpoint("large") {
    	$1
    }
    '''
  'Large JS MQ':
    'prefix': 'Large JS MQ'
    'body': '''
    //
    // LARGE JS
    //
    @include breakpoint("large", true) {
    	$1
    }
    '''
  'Custom MQ':
    'prefix': 'Custom MQ'
    'body': '''
    //
    // ${1:custom_mq}
    //
    @include breakpoint("${1:custom_mq}") {
    	$2
    }
    '''
  #Base-Base mixins
  'Base-Base':
    'prefix': 'Bb'
    'body': '@include base-base(${1:\\$font-size}, ${2:\\$dff}, ${3:\\$trailing-white-space}, ${4:\\$leading-white-space});'
  'Margin Leader':
    'prefix': 'Mt'
    'body': '@include margin-leader(${1:1}, ${2:\\$current-font-size});'
  'Margin Trailer':
    'prefix': 'Mb'
    'body': '@include margin-trailer(${1:1}, ${2:\\$current-font-size});'
  'Padding Leader':
    'prefix': 'Pt'
    'body': '@include padding-leader(${1:1}, ${2:\\$current-font-size});'
  'Padding Trailer':
    'prefix': 'Pb'
    'body': '@include padding-trailer(${1:1}, ${2:\\$current-font-size});'
  'Neutralise':
    'prefix': 'Neu'
    'body': '@include neutralise();'
  'Lines for font size':
    'prefix': 'Lfz'
    'body': '@include lines-for-font-size(${1:\\$font-size}, ${2:\\$lh});'
  'Pixels to baseline':
    'prefix': 'p2b'
    'body': 'p2b(${1:0}px)'
  #Debug
  'Debug Grid':
    'prefix': 'Debug baseline'
    'body': '@include debug_baseline();'
  #Modernizr
  'Modernizr Yep':
    'prefix': 'Yep'
    'body': '@include yep(${1:rgba}) {$2};'
  'Modernizr Nope':
    'prefix': 'Nope'
    'body': '@include nope(${1:rgba}) {$2};'
  #Bourbon neat
  'Bourbon: Span Columns':
    'prefix': 'span-columns'
    'body': '@include span-columns(${1:1} of ${2:12});'
  'Bourbon: Clearfix':
    'prefix': 'cf'
    'body': '@include clearfix;'
  'Bourbon: Columns':
    'prefix': 'columns'
    'body': 'flex-grid(${1:1}, ${2:12})'
  'Bourbon: Gutter':
    'prefix': 'gutter'
    'body': 'flex-gutter(${1:12})'
